<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UFOS!
    </title>
 
    <link type="text/css" rel="stylesheet" href="C:/RDB_Projekt/leaflet.css" />
    <script type="text/javascript" src="C:/RDB_Projekt/leaflet.js"></script>
    <script type="text/javascript" src="C:/RDB_Projekt/leafletembed.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<style>
    .map {
        width: 500px;
        height: 500px;
    }
</style>
</head>
<body>

    <div class="map" id="map">
    </div>
    
</body>
    <script>
        var ufomap = L.map('map').setView([51.505, -0.09], 13);
        mapLinkink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
            }).addTo(map);
    </script>

</html>